body{

background:#f4f4f4;
font-family:Arial;

}

.container{

max-width:500px;
margin-top:50px;

}

.product-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:20px;

}

.product{

padding:20px;

text-align:center;

}